<div class="container">
  <div class="white-text wrapper indigo accent-4">
      <h1>Create Chart </h1>
  </div>
  <%= render partial: "form", locals: {chart: @chart, button_name: "Create Chart +"}%>
</div>
