<div class="container">
  <h2>Expression Number</h2>
  <p class="flow-text">Your Expression Number is calculated much
like your Soul Urge, by assigning numerical
values to the letters in your name using the
Pythagorean Alphabet.</p>
  <p class="flow-text">Except in this case, we use ALL the letters in
your name because each letter, and its
corresponding number and vibration,
combine to form the complete picture of who
you are and how you express yourself.</p>
<div class="white-text wrapper deep-purple">
  <h3 class="flow-text">Here is an example of how to calculate your Expression Number using the Pythagorean
  Alphabet:</h3>
  <div class="split left">
    <%= image_tag "pythag.png", :width => 300 %>
  </div>
    <div class="split right container">
      <p class="flow-text">* Someone given the full name of Kathy Anne Franklin at birth, will have an Expression
    Number of 4.</p>
      <p class="flow-text">* We’ll start by assigning a numerical value to every letter using the Pythagorean Alphabet
    table above.</p>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
  <p class="flow-text">* So, K=2 A=1 T=2 H=8 Y=7 A=1 N=5 E=5 F=6 R=9 A=1 N=5 K=2 L=3 I=9 And, N=5</p><br>
  <p class="flow-text">* Next, we sum all of these digits together and reduce to a single digit.</p>
  <p class="flow-text">* So, 2+1+2+8+7+1+5+5+5+6+9+1+5+2+3+9+5=76</p>
  <p class="flow-text">* 7+6=13</p>
  <p class="flow-text">* And, 1+3=4</p>
  <p class="flow-text">* In this example, Kathy has an Expression Number of 4.</p><br>
  <p class="flow-text">* If your final calculation sums to total 11 or 22, there’s no need to continue reducing. The
  calculation stops there. 11 and 22 are Master Numbers and they have a unique meaning that
  require stand-alone readings.</p><br>
</div>

<p class="flow-text">Your Expression, or “Total Name” Number,
describes the magic that you bring into the
world. People often do not realize that their
actions create ripples of cause and effect that
lead to new experiences. Essentially,
everyone is constantly creating their future in
their own way and with the power they
choose to outwardly express.</p><br>
<p class="flow-text">Learning about your Expression and its
Challenge can help you make decisions and
adjust your actions to engineer a future that is
more in line with the gifts, interests and
talents you possess and share with others.</p><br>
<p class="flow-text">One reason that the Expression Number is
such an important part of your chart is that it
represents your power of choice. Even
though your name was given to you, it was a
choice you made before birth that, in turn,
has given you unique powers.</p><br>
<p class="flow-text">This ability to choose may not always be a
blessing, though, because every vibration has
an upside and downside. No one makes
perfect decisions all the time. It takes a good
deal of understanding and self-knowledge to
direct your decisions and actions in a way that
suits you best and expresses the most
favorable qualities of your Expression.</p><br>
<p class="flow-text">Unlike the Life Path Number, the Expression
Number is not permanent. It can be changed,
therefore changing your life experiences and
choices. Before you get the wild idea of
changing your name, we urge you to proceed
with caution. Even though it is possible to
change your name in a way that will enhance
or suppress aspects of your character, this
has to be done very carefully. The intricate
facets of your numerology chart would have
to be examined thoroughly in order to make
sure that you aren’t xing one thing and
breaking another.</p><br>
<p class="flow-text">We suggest using this information to simply
gain a better understanding of your true self.
When you work with your natural talents and
gifts, and you’re aware of your innate
challenges, there is no doubt you can create
a fulfilling life.</p><br>
</div>
