<div class="container">
  <h2>Expression Number</h2>
  <p class="flow-text">Your Expression Number is calculated much
like your Soul Urge, by assigning numerical
values to the letters in your name using the
Pythagorean Alphabet.</p>
  <p class="flow-text">Except in this case, we use ALL the letters in
your name because each letter, and its
corresponding number and vibration,
combine to form the complete picture of who
you are and how you express yourself.</p>
<h3 class="flow-text">Here is an example of how to calculate your Expression Number using the Pythagorean
Alphabet:</h3>
<div class="">
  <%= image_tag "pythag.png", :width => 500 %>
    <p class="flow-text">Someone given the full name of Kathy Anne Franklin at birth, will have an Expression
  Number of 4.</p>
    <p class="flow-text">We’ll start by assigning a numerical value to every letter using the Pythagorean Alphabet
  table above.</p>
</div>
  <p class="flow-text"> </p>
  <p class="flow-text"> </p>
  <p class="flow-text"> </p>
  <p class="flow-text"> </p>

</div>
