<div class="container">
  <div class="white-text wrapper indigo accent-4">
    <h2>Welcome Digital Me the Numerology Chart Maker</h2>
  </div>



      <div class="split left"><%= image_tag "numerology-universe.jpg", :width => 800 %></div>
      <div class="split right">
          <div class="split left">
            <ul>
            <li><h5>Birthday Number Meaning <%= link_to "~", birthday_info_path %></h5></li>
            <li><h5>Life Path Number Meaning ~</h5></li>
            <li><h5>Soul Urge Number Meaning ~</h5></li>
            <li><h5>Soul Urge Challenge Number ~</h5></li>
            <li><h5>Expression Number Meaning ~</h5></li>
            <li><h5>Expression Challenge Number ~</h5></li>
            <li><h5>Personality Number Meaning ~</h5></li>
            <li><h5>Personality Challenge Number ~</h5></li>
          </ul>
          </div>
      </div>


    <div class= "left">
    <div class="white-text wrapper indigo accent-4">
      <h3>What is Numerology</h3>
    </div>
    <p class="flow-text" >In simple terms, numerology is a study of numbers in your life. You can uncover information about the world and also each individual person by using Numerology. Numerology is seen as a universal language of numbers.</p>
    <p class="flow-text">If you are familiar with Astrology, then you may know a little bit about Numerology; it is similar in quite a few ways but uses a different method to get the information and insight: Numbers.</p>
    <p class="flow-text">Numerology is the idea that the universe is a system and once broken down we are left with the basic elements, which is numbers. These numbers can then be used to help us to better understand the world and ourselves as individuals.</p>
  </div>

  <div class="left">
    <div class="white-text wrapper indigo accent-4">
      <h3>Finding Meaning In Number</h3>
    </div>
    <p class="flow-text">Numerology is the idea that the universe is a system; once broken down we are left with the basic elements, which is numbers. By understanding that everything in the world is dependent on, and can equate to numbers, a numerologist can take multiple elements of a person and break them down into meaningful numbers through various methods. These numbers can then be used to help us to better understand the world and ourselves as individuals where you can discover insights about your purpose and personality traits by working out things like your life path number, expression number and hearts desire number among many others.</p>
  </div>

  <div class="left">
    <div class="white-text wrapper indigo accent-4">
      <h3>History Of Numerology</h3>
    </div>
    <p class="flow-text">Where numerology came from and how it came to be is somewhat of a mystery, like many ancient philosophies. Egypt and Babylon are where the earliest written records of numerology are said to be.</p>
    <p class="flow-text">Other evidence shows that numerology was used thousands of years ago in Rome, China, Greece, and Japan.</p>
    <p class="flow-text">Modern-day numerology is normally credited to Pythagoras, who was a Greek philosopher. Although it is not known if he invented Numerology, he had some theories behind it, which took numbers to a completely different level. These theories are now the reason behind Pythagoras having the credit for modern day numerology.</p>
    <p class="flow-text">Dr. Julian Stenton was actually the person who came up with the name ‘Numerology’. He also bought recognition and awareness to it in modern day times. There is not much else known about the whereabouts of Numerology, it has become quite popular in today’s society and is used by many.</p
</div>

  <div class="left">
    <div class="white-text wrapper indigo accent-4">
      <h3>How does Numerology work?</h3>
    </div>
  <p class="flow-text">How numerology works is actually quite complicated and usually requires a master numerologist to provide detailed and accurate readings. Though you can easily find your life path number and things like your expression, personality, and soul urge numbers using basic calculations, it is the way that these numbers work together that need to be interpreted properly.</p>
  <p class="flow-text">The idea behind numerology is that the cosmos and your life is affected by your birth date, birth name and many other factors surrounding an individual. In this way, there are great depths that a numerology forecast can provide. Consequently, it can provide often astounding insights about somebody.</p>
  <p class="flow-text">It is believed that there are no coincidences in the Universe that your name and birthday affect the journey that you will take and your characteristics, in the same way, that some look at horoscopes or astrology to interpret signs or destinies.</p>
  </div>

  <div class="left">
    <div class="left">
      <div class="white-text wrapper indigo accent-4">
        <h3>What a Numerology Reading Involves</h3>
      </div>
    <p class="flow-text">A numerology reading involves a lot of calculations. These calculations can go into many layers of depth with different numbers and combinations of numbers carrying various meanings. Even a basic reading based on your core numbers can be quite revealing. However, in the same manner that numbers are infinite, someone's numerology chart can continue to be read from many perspectives as an ongoing project.</p>
    <p class="flow-text">Getting a numerology reading is actually quite fun and very interesting, especially at numerologist.com which has an amazing.</p>
    <p class="flow-text"> My rails application "Numerology Chart Maker" is a great introduction for beginners, and it is also suited for those who want a deeper readinginto their Life Path Number, Birthday Number, Soul Urge Number, Expression Number, and Personality Number.</p>
  </div>

</div>

<footer>
  Info sourced from : <a href="https://www.thelawofattraction.com/what-is-numerology/">Numerology: What is Numerology? And How Does it Work?</a>
</footer>
