<div class="container">
  <h2>Life Path Number</h2>
  <p class="flow-text">The most important number in your numerology chart is your Life Path. It reveals your most
fulfilling life direction, the major lessons you’re here to learn and the specific opportunities and
challenges you will encounter throughout your life. It also illuminates your unique personality
traits that will help you on your journey. When you live a life that is aligned with the values, gifts
and attributes of your Life Path Number, you’ll burst at the seams with abundance and joy.</p>
<p class="flow-text">Your Life Path Number is calculated by reducing the sum of your entire date of birth to a single
digit. You start by reducing your month of birth, your day of birth, and your year of birth to a single
digit. You then add those 3 numbers together and reduce the sum to a single digit to get your
final Life Path Number.</p>
<div class="white-text wrapper indigo accent-4">
  <ul class="flow-text">
    <li>* Someone born December 15, 1987 will have a Life Path of 7.</li>
    <li>* We start by reducing the month of birth to a single digit. December is the 12th month of the year.</li>
    <li>* So, 1+2=3</li>
    <li>* We then reduce the day of birth, the 15th, to a single digit.</li>
    <li>* So, 1+5=6</li>
    <li>* Next, we reduce the year of birth, 1987, to a single digit.</li>
    <li>* So, 1+9+8+7=25, and 2+5=7</li>
    <li>* Last, we add these 3 numbers together and reduce to a single digit to find the Life Path Number.</li>
    <li>* So, 3+6+7=16, and 1+6=7</li>
    <li>* In this example, the Life Path Number is 7.</li>
  </ul>
</div>
  <div>
    <p class="flow-text">There are many numbers, calculations and interpretations that make up a complete numerology report, Matthew, but of all the elements in your chart, one is superior to them all when it comes to describing the circumstances you’ll experience throughout your life. Yup, it’s your Life Path Number.</p>
    <p class="flow-text">Sometimes called the “Birth Path” or “Destiny” Number, your Life Path reveals the circumstances and opportunities you’ll naturally attract throughout your life. It is the #1 element in the hierarchy of vibrations that make up your numerology chart and it is used in almost every method of numerology known to exist.</p><br>
    <p class="flow-text">The events that lead up to and surround your birth constitute what Transpersonal Psychologists call “Perinatal Experiences”.They are said to connect you to greater consciousness and carry subtle energies that infuence your life after birth, including how you interact with the world at large.</p>
    <p class="flow-text">Your Life Path Number has the same effect. It’s why so many things in your life seem to be “out of your hands” at least until, through spiritual, psychological or mystical means, you develop a close relationship with your inner self. Numerology can be a shortcut to developing this self awareness, and your Life Path provides the signposts to help you get there.</p><br>
    <p classs="flow-text"></p>
  </div>
</div>
