<div class="container">
  <h2>Life Path Number</h2>
  <p class="flow-text">The most important number in your numerology chart is your Life Path. It reveals your most
fulfilling life direction, the major lessons you’re here to learn and the specific opportunities and
challenges you will encounter throughout your life. It also illuminates your unique personality
traits that will help you on your journey. When you live a life that is aligned with the values, gifts
and attributes of your Life Path Number, you’ll burst at the seams with abundance and joy.</p>
<p class="flow-text">Your Life Path Number is calculated by reducing the sum of your entire date of birth to a single
digit. You start by reducing your month of birth, your day of birth, and your year of birth to a single
digit. You then add those 3 numbers together and reduce the sum to a single digit to get your
final Life Path Number.</p>
<div class="white-text wrapper indigo accent-4">
  <ul>
    <li>* Someone born December 15, 1987 will have a Life Path of 7.</li>
    <li>* We start by reducing the month of birth to a single digit. December is the 12th month of the year.</li>
  </ul>
</div>
</div>
