<div class="container">
  <h2>Personality Number</h2>
  <p class="flow-text">The Personality Number reveals what your friends, or even strangers, think about you. In other
words, this illuminates the dominant traits or personality characteristics that influence the way
you are perceived by others.</p>
  <p class="flow-text">Much like your Soul Urge and Expression
Numbers, your Personality Number is derived
from assigning numerical values to certain
letters in your full birth name using the
Pythagorean Alphabet. Except in this case,
we use only the consonants.</p>
  <p class="flow-text">Consonants are pronounced with sharp
edges and have a definitive beginning or end.
They represent your public personality and
the traits you outwardly share with the world.</p>
<div class="white-text wrapper deep-purple">
  <p class="flow-text">* Below is an example of how to calculate your Soul Urge Number using the Pythagorean
Alphabet:</p>
  <p class="flow-text">* Someone given the full name of Victoria Mae Smith at birth will have a Personality Number
of 1</p>
  <p class="flow-text">* To calculate, we look at the consonants in the name only.</p>
  <p class="flow-text">* So, V, C, T, R, M, S, M, T, H.</p>
  <p class="flow-text">* Next, using the Pythagorean Alphabet table above, we assign a numerical value to each
letter.</p>
  <p class="flow-text">* So, V=4
C=3
T=2
M=4
S=1
M=4
T=2
And, H=8</p>
  <p class="flow-text">* Next, we sum all of these digits together
and reduce to a single digit.</p>
<div class="split right">
  <%= image_tag "pythag.png", :width => 400 %>
</div>
  <p class="flow-text">* So, 4+3+2+9+4+1+4+2+8=37</p>
  <p class="flow-text">* 3+7=10</p>
  <p class="flow-text">* And, 1+0=1</p>
  <p class="flow-text">* In this example, Victoria has a Personality
Number of 1.</p>
</div>
  <p class="flow-text">The Personality Number, sometimes called
the “Persona”, is one of the two main factors
derived from your full name. Mystical
teachings state that while the Soul Urge is
calculated by summing the vowels, the “Soul”
of your name, the Personality Number is
found by summing the consonants, the
vehicle in which your Soul journeys through
this world. In any word or name, the
consonants help us make sense of the
vowels; they give form to the substance (or in
some cases, the meaning) of the word or
name, just as spices or fire give form to the
idea of “hot.”</p>
  <p class="flow-text">Many numerologists in India use this element
as an indication of personal style or type of
dress that works best for you, and how it
affects others. This follows the maxim “the
first impression is the last impression”.</p>
  <p class="flow-text">Some modern numerologists call the
Personality Number the “Quiet Self” and do
not use it as a marker of outward behavior
but, rather, as a sign of what you may dream
of doing in the outer world.</p>
  <p class="flow-text">In reality, this vibration describes both how
you imagine yourself and how you present
yourself. On both conscious and unconscious
(collective and personal) levels, it describes
how you behave and interact with the world
and how present you are in the process of
creating your destiny through your choices.</p>
  <p class="flow-text">Your Personality Number also reveals your
likes and dislikes, so it should not be ignored.
As you get further along on your journey into
your personal numerology chart, you’ll
discover just how useful understanding your
Personal vibration is in your life and
relationships.
</p>
  <p class="flow-text"></p>
  <p class="flow-text"></p>
  <p class="flow-text"></p>
  <p class="flow-text"></p>
  <p class="flow-text"></p>
  <p class="flow-text"></p>
</div>
<footer>Info Sourced from: <a href="https://numerologist.com">The Numerologist</a></footer>
