<div class="container">
  <h2>Soul Urge Number</h2>
  <div>
    <p class="flow-text">Your Soul is the essence of who you are. The Tibetans say your Soul is the subtle part of you that works behind the scenes to coordinate the five elements on all planes, while the Greeks believed it to be a mixture of the material components of the world and the Nous, or spirit.</p>
    <p class="flow-text">Regardless of different cultural beliefs one thing is clear, your Soul has an agenda. It is the part of you that seeks experience, expression and growth. Much has been written about how health, prosperity, love and fulfillment are the rewards of living a life aligned with the true essence your Soul, and an equal amount has been said about what happens to us when we deny the Soul its true expression.</p><br>
    <h5>Author, shaman, healer and spiritual teacher, Robert Moss, has said:</h5>
    <blockquote>
      <p class="flow-text">“The Iroquois Indians say that if we fail to honor “the wishes of the soul” (as opposed to ego agendas), the soul will distance itself from us, leaving us prone to sickness and bad luck, putting us on the road of the walking dead.”</p>
    </blockquote>
    <p class="flow-text">When you pursue goals at the expense of your dreams and the urgings of your Soul, itsparticipation in your life may diminish ordisappear. This can also happen whenexperiencing extreme pain, loss or othertrauma. Psychologists call this disassociation.“Soul Loss” affects every aspect of your lifeincluding your relationships, career and stateof wellness.</p>
    <p class="flow-text"> Many numerologists also look to the Soul Urge Number to understand your relationship styleand the challenges to fulfillment you may encounter in relationships. Either way, to honor the Soul Urge is to achieve a sense of satisfaction and fulfillment in all aspects of life.</p>
  </div>

</div>
<footer>Info Sourced from: <a href="https://numerologist.com">The Numerologist</a></footer>
