<div class="container">
  <div class="white-text wrapper deep-purple">
      <h1><%="#{objectName}"%> <%= object.number %></h1>
  </div>
  <br>
  <div class="">
    <p class="flow-text"><%= object.short_description %></p>
  </div>
  <br>
  <% object.long_description.each do |d| %>
    <div class="">
      <p class="flow-text"> <%= d %> </p>
    </div>
  <% end %>
</div>
