<div class="container">
  <div class="white-text wrapper indigo accent-4">
      <h1> <%="#{objectName}"%> <%= object.number %></h1>
  </div>
  <br>
  <div class="">
    <%= object.short_description %>
  </div>
  <br>
  <% object.long_description.each do |d| %>
    <div class="">
      <p> <%= d %> </p>
    </div>
  <% end %>
</div>
