<% @birthdays.each do |b| %>
<div class="container" >
  <h3> <%= link_to "Birthday Number #{b.number}", birthday_path(b) %></h3>
  <p class="flow-text" ><%= b.short_description %></p>
</div>
<% end %>
